body{
    background-color: #0000ff;
}
section{
    width: 80%;
    background-color: #c4e1fc;
    height: 80vh;
    margin-left: 10%;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0 0 10px #3333bd;
}
section img{
    border-radius: 200px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10vh;
}
section img:hover{
    box-shadow: 0 0 25px ;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
section p{
    text-align: center;
}
img {
    width: 50%;
    margin-left: 25%;
    margin-top: 10vh;
}